/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/components/Albums/Albums.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Albums_gridContainer__5gDgY {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 20px;
}

.Albums_card__8KaZD {
  padding: 2rem;
  border-radius: 6px;
  border: 1px solid black;
}

